.example-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #232323;
    background-color: #232323a4;
    background-blend-mode: darken;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    display: grid;
    overflow: auto !important;
}

.example-overlay.show {
    visibility: visible;
    opacity: 1;
}

.example-container {
    width: 90vw;
    max-width: 750px;
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    height: fit-content;
    margin: auto;
}

@media only screen and (max-width: 980px) {
    .example-container {
        padding: 1.5em;
    }
}

.example-close-btn {
    color: var(--primary-color);
    cursor: pointer;
}

.example-outer-container {
    margin: auto;
    padding: 5vw 0;
    height: fit-content;
}