#news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
    padding-top: 2em;
}

@media only screen and (max-width: 980px) {
    #news-grid {
        grid-template-columns: 1fr;
    }
}

.news-container {
    padding: 1em;
    background-color: white;
    -webkit-box-shadow: -1em 1em 0px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: -1em 1em 0px 0px rgba(0,0,0,0.40);
    box-shadow: -0.5em 0.5em 0px 0px #696868;
    height: fit-content;
    border-radius: 0.2em;
    border: 1.5px #696868 solid;
}

.to-info-container p {
    margin-bottom: 0.5em;
}

a.newshref {
    color: unset;
}